:root {
  --main-bg-color: darkolivegreen;
  --text-color: blanchedalmond;
  --second-bg-color: hsl(263, 52%, 63%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-wrap: wrap;
}

header {
  padding: 10px;
  text-align: center;
  background: var(--main-bg-color);
  color: var(--text-color);
}

nav {
  background-color: var(--main-bg-color);
  text-align: right;
}

nav a {
  color: var(--text-color);
  padding: 15px 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 4;
  background-color: ;
  padding: 80px;
  text-align: center;
}

div img {
  height: 10em;
  width: 100%;
}

.projects {
  flex: 4;
  background-color: mintcream;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.card {
  border-style: double;
  border-width: 4px;
  border-radius: 10px;
  padding: 10px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

@media screen and (max-width: 936px) {
  main,
  div {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  main,
  div {
    flex-direction: column;
  }
}
