* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 1em;
  text-align: start;
  background: darkolivegreen;
  color: blanchedalmond;
}

nav {
  justify-content: flex-end;
  display: inline-block;
}
